doctype html
html(lang="es")
    head
        include partials/header
        
    body
        main.contenedor    
            div#sidemenu.menu-collapsed
                div#header
                    div#title
                        span 
                            a(href="/") UpTask con Node
                    div#menu-btn
                        div.btn-hamburger
                        div.btn-hamburger
                        div.btn-hamburger 
                div#profile
                    div#photo
                        img(src=`../imagenes/reveCat.jpg`, alt="imagen no encontrada")
                    div#name
                        span Ariel Sosa
                        span#cerrarSesion
                            i.fas.fa-sign-in-alt
                div#menu-items
                    div.item
                        a(href="/nuevo-proyect")
                            div.icon
                                i.fas.fa-plus
                            div.title 
                                span Nuevo Proyecto
                
                    div(class="item separator")

                    div.item
                        a(href="/proyects")
                            div.icon 
                                i.fas.fa-folder
                            div.title
                                span Proyectos
                            div#lista-proyectos.lista-proyectos
                                ul
                                    if(proyects.length)
                                        each proyect in proyects
                                            li
                                                a(href=`/proyects/${proyect.url}`)=proyect.name
        
            block contenido
                 
        script(src="/dist/bundle.js")