doctype html
html(lang="es")
    head
        include partials/header
        
    body 
        header.barra 
            h1 UpTask - Administrador de Proyectos
            i.far.fa-user-circle
            span#cerrarSesion Cerrar sesion
        
        main.contenedor
            div#sidemenu.menu-collapsed
                div#header
                    div#title
                        span Titulo de barra
                    div#menu-btn
                        div.btn-hamburger
                        div.btn-hamburger
                        div.btn-hamburger 
                div#profile
                    div#photo
                        img(src=`../imagenes/reveCat.jpg`, alt="imagen no encontrada")
                    div#name
                        span Ariel Sosa
                div#nuevo-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
                        span +
                div#lista-proyectos.lista-proyectos
                    h2 Proyectos
                        ul#proyectos.proyectos
                            if(proyectos.length)
                                each proyecto in proyectos
                                    li
                                        a(href=`/proyectos/${proyecto.url}`)=proyecto.nombre
                
            block contenido
        
                
        script(src="/dist/bundle.js")