extends layout 
block contenido
    .contenido-principal
        h1 #{nombrePagina}
        div.listado-pendientes
            ul
                if(proyectos.length)
                    each proyecto in proyectos 
                        li 
                            p
                                a(href=`/proyectos/${proyecto.url}`)=proyecto.nombre
                            .acciones 
                                i.fas.fa-trash


