extends layout 
block contenido
    .contenido-principal
        h1 #{nombrePagina}
        div.listado-pendientes
            ul
                if(proyects.length)
                    each proyect in proyects 
                        li 
                            p
                                a(href=`/proyects/${proyect.url}`)=proyect.name
                            .acciones 
                                i.fas.fa-trash


