html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to top, #023c55 0%, #0782B7 100%);
    min-height: 100vh;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/** Login **/
.login,
.crear-cuenta {
    background: #023c55;
}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contenedor-formulario h1 {
    text-align: center;
    color: white;
}
.contenedor-formulario h1  span{
    font-weight: 400;
    font-size: 1.2rem;
}
.contenedor-formulario p {
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo label {
    flex: 0 0 100px;
    text-align: right;
    padding-right: 1rem;
}
.campo input[type="email"],
.campo input[type="text"],
.campo input[type="password"] {
    height: 3rem;
    border: 0;
    flex: 1;
    border: 1px solid #455A64;
    border-radius: 5rem;
    padding-left: 2rem;
    color: black;
    background-color: rgb(226, 206, 27);
}
.campo.acciones {
    justify-content: space-between;
}
.enviar {
   justify-content: flex-end;
}
.boton {
    background-color: #FDD835;
    text-align: center;
    transition: background-color .5s ease-in-out;
    padding: 2rem;
    text-transform: uppercase;
    border: none;
    font-weight: 900;
    width: 260px;
    margin:0  auto;

    display: flex;
    align-items: center;
    line-height: 0;
}
.boton span {
    font-size: 2.2rem;
    margin-left: 20px;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(219, 184, 29)!important;
}
.boton.eliminar {
    margin-top: 1rem;
    float: right;
    background-color: red!important;
    color: white;
}
.campo a {
    color: black;
    text-decoration: none;
}

/** Barra **/
body.index {
    height: 100vh;
}
.barra {
    background-color: #455A64;
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}
.barra span {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.barra i {
    color: white;
    font-size: 1.5rem;
}

/** Contenido Principal */
.contenedor {
    display: flex;
    height: calc( 100vh - 60px);
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: #607D8B;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: rgb(226, 206, 27);
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}

.listado-pendientes a {
    color: #000;
    text-decoration: none;
}
.listado-pendientes ul li {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #000000;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}
.acciones i:last-child{
    margin-left: 3rem;
}
.completo {
    color: #00B762;
}
.alerta {
    padding: .5rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 900;
    max-width: 300px;
    margin: 0 auto 1rem auto;
    text-transform: uppercase;
}
.error {
    color: red!important;
    background-color: rgb(255, 201, 201);
    border: 1px solid red;
    border-radius: 10px;
}
.error p {
    color: red!important;
}
.correcto {
    color: green;
    background-color: rgb(201, 245, 201);
    border: 1px solid green;
}
.correcto p {
    color: green;
}

/** Linea de Avance **/
.barra-avance {
    height: 30px;
    border: 1px solid #999;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}
.porcentaje {
    width: 0%;
    height: 100%;
    background-color: #00B762;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}

form.agregar-proyecto {
    max-width: 800px;
    width: 90%;
    background-color: #607D8B;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}
form.agregar-proyecto label,
form.agregar-proyecto input {
    display: block;
}
form.agregar-proyecto label {
    flex: 0 0 150px;
    text-align: right;
    padding-right: 1rem;
}
form.agregar-proyecto input[type="text"]{
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #455A64;
    border-radius: 5rem;
    color: black;
}
form input[type="submit"]{
    margin-top: 1rem;
    text-align: center;
    display: block;
    padding: 1.5rem;
    color: black;
    width: auto;
    margin: 0;
}

.contenedor-acciones {
    max-width: 800px;
    margin: 2rem auto 0 auto;
    width: 90%;

    display: flex;
    justify-content: space-between;
}
.contenedor-acciones .boton:first-of-type{
    color: black;
    text-decoration: none;
}
.contenedor-acciones .boton.eliminar {
    color: white;
}
.contenedor-acciones .boton {
    margin: 0;
    text-align: center;
    display: block;
}

/** Barra Desplegable **/
:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52, 52 52);
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}
.body-expanded{
    margin-left: var(--width);
}
#sidemenu{
    background-color: aliceblue;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
#sidemenu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/**
    HEADER
**/
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}
#sidemenu #header #menu-btn{
    display: inline-block;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}
#sidemenu #header #menu-btn .btn-hamburger{
    background-color: rgb(7, 6, 6);
    width: 100%;
    height: 2px;
    margin: 5px 0;
}
/*
    PROFILE
*/
#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}
#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#sidemenu #profile #photo  img{
    border: solid 1px black;
    border-radius: 47%;
    width: 85%;
}
#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
} 
#sidemenu #profile #name{
    margin-right: 1rem;
}
/**
    ITEMS
**/

#sidemenu #menu-items{
    overflow: hidden;
}
#sidemenu #menu-items .item{
    width: var(--width);
}
#sidemenu #menu-items .item .icon{
    display: inline-block;
}
#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}
#sidemenu #menu-items .item .icon i{
    width: 100%;
}
#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}
#sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

/**
    PROYECTS
**/
#nuevo-proyecto a{
    color: #063e53;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: #FDD835;
    overflow: hidden;
}
#lista-proyectos{
    font-size: 0.9rem;
}
.lista-proyectos ul{
    margin: 0;
}
.lista-proyectos ul li {
    list-style: none;
    margin-bottom: 1rem;
}
.lista-proyectos ul li a:hover {
    display: inline-block !important;
    background-color: rgb(226, 206, 27) !important;
    color: #023c55 !important;
}
/**
    Menu
**/
.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);   
}
.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}
.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}
.menu-collapsed{
    width: var(--width-collapsed);
}
.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed #profile #name{
    display: none;
}
.menu-collapsed ul li{
    display: none;
}
.menu-collapsed .item{
    width: 100px;
}