doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/app-login.css')
    script(src='https://kit.fontawesome.com/6b4c519f3f.js' crossorigin='anonymous')
    title login Node
  body
    .loginContainer
      h1.title #{namePag}
      p Enter the new password for you account
      if locals.mensajes
        each categoria in Object.keys(locals.mensajes)
          each  error in mensajes[categoria]
            .templateAlert(class=`${categoria}`)
              i.fas.fa-exclamation-triangle
              p.textError= error
      form.login-container.register(method='POST')
        .login-input
            i.far.fa-envelope
            input#newPassword.input(type="password" name="newPassword" placeholder="New Password")
        .login-input
            i.far.fa-envelope
            input#repeatPassword.input(type="password" name="repeatPassword" placeholder="Repeat Password")

        input.button(type='submit' value='reset password')

        script(src="/dist/bundle.js")