doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/app-login.css')
    script(src='https://kit.fontawesome.com/6b4c519f3f.js' crossorigin='anonymous')
    title login Node
  body
    .loginContainer
      h1.title #{namePag}
      if locals.mensajes
        each categoria in Object.keys(locals.mensajes)
          each  error in mensajes[categoria]
            .templateAlert(class=`${categoria}`)
              i.fas.fa-exclamation-triangle
              p.textError= error
      p Enter the email address associated with your UpTask account
      form.login-container.register(method='POST' action='/reset-password')
        .login-input
            i.far.fa-envelope
            input#email.input(type="email" name="email" placeholder="Email")

        input.button(type='submit' value='reset password')

      footer
        p Do you have an account?
            span Sign Up
        script(src="/dist/bundle.js")