mixin crearProyecto(proyect= {})
    form.agregar-proyecto(action=`/nuevo-proyect/${proyect.id || ""}` method="POST")
                .campo 
                    label(for="name") Nombre Proyect
                    input(value =proyect.name type="text" id="name" name="name" placeholder="Nombre Proyecto")
                
                .campo.enviar
                        input(type="submit" value=`${proyect.name ? 'Guardar':'Agregar'}` class="boton")